<!--  <div class="flex flex-col"> -->
  <!-- <app-form></app-form>
  <app-product-detail></app-product-detail>
</div> -->
<!-- <div class="m-0 p-0 b bg-violet-900 h-lvh">
  <div>
    <button class="bg-green-600 p-2 rounded-md m-2 hover:bg-green-700 text-white" (click)="subscribe()">Subscribe</button>
    <button class="bg-red-600 p-2 rounded-md m-2 hover:bg-red-700 text-white" (click)="unsubscribe()">Unsubscribe</button>
    <button class="bg-yellow-600 p-2 rounded-md m-2 hover:bg-yellow-700 text-white" (click)="clear()">Clear</button>
  </div>
  <div class="flex gap-2 text-white flex-wrap">
   @for(value of data;track value.index){
    <p>{{value.data}}</p>
   }
  </div> -->
  <router-outlet></router-outlet>
<!-- </div> -->