li{
  list-style-type: none;
  padding:10px;
}


li>a{
  text-decoration:none;
  color:white
}

.cart-icon i {
  position: relative;
  color:white;
}

.notification-bubble {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}